@import '../colors.scss';

* {
    box-sizing: border-box;
}

.card-toolbar {
    width: 100px;
    height: 200px;
    padding: 0.5rem;
    background-color: var(--toolbar-color);
    box-shadow: var(--card-border-outer), var(--card-border-inner);
    position: relative;
    right: 120px;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    button {
        width: 90%;
    }
}