@import '../colors.scss';

* {
    box-sizing: border-box;
}

.spawnmenu {
    z-index: 100;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: $primary-card-color;
    box-shadow: $card-border-outer, $card-border-inner;

    button {
        width: 90%;
        display: inline-block;
        border: none;
        padding: 0.5rem;
        margin: 0;
        text-decoration: none;
        color: black;
        background-color: $primary-card-color;
        font-family: serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }

        &:hover,
        &:focus {
            background: $primary-select-color;
            color: white;
        }

        &:active {
            transform: scale(0.99);
        }
    }
}

.spawnmenu,
li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    width: 100%;
    padding-top: 0.2rem;
}