
//default
* {
    --card-width: 10rem;
    --card-height: 10rem;

}

$primary-card-color: var(--primary-card-color);
$editable-card-color: var(--editable-card-color);

$primary-font: var(--primary-font);
$secondary-font: var(--secondary-font);

$card-border-outer: var(--card-border-outer);
$card-border-inner: var(--card-border-inner);

$primary-text-color: var(--primary-text-color);
$secondary-text-color: var(--secondary-text-color);

$primary-bg-color: var(--primary-bg-color);
$primary-select-color: var(--primary-select-color);

$root-border: var(--root-border);
$root-box-shadow: var(--root-box-shadow);

$header-color: var(--header-color);

$note-color: var(--note-color);
$note-text-color: var(--note-text-color);
$note-border-radius: var(--note-border-radius);
$note-box-shadow: var(--note-box-shadow);

$toolbar-color: var(--toolbar-color);

//domingo (light)
.theme-domingo-light {
    --primary-card-color: #ffffff;
    --editable-card-color: #cacaca;

    --card-border-outer: inset -1px -1px #0a0a0a,
    inset 1px 1px #ffffff;
    --card-border-inner: inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;

    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;

    --primary-bg-color: #533A7B;
    --primary-select-color: #B497D6;


    --header-color: #533A7B;
    --note-color: #B486AB;
}

//domingo (dark)
.theme-domingo-dark {
    
}

//bagenzo
.theme-bagenzo {
    --primary-font: 'Inconsolata';
    --secondary-font: 'Inter';

    --primary-card-color: #ffffff;
    --editable-card-color: #e0e0e0;
    --card-border-outer: inset -1px -1px #000000,
    inset 1px 1px #000000;
    --card-border-inner: inset -2px -2px #000000,
    inset 2px 2px #000000;
    
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;

    --primary-bg-color: #000000;
    --primary-select-color: #b90000;

    --toolbar-color:#ffffff;

    --root-box-shadow: 10px 10px #8b0000;

    --root-border: none;

    --header-color: #b90000;

    --note-color: #3e0000;
    --note-text-color: #ffffff;
    --note-box-shadow: 10px 10px #8b0000;
    --note-border-radius: 0px;
}

//chicago
.theme-chicago {
    --primary-card-color: #c0c0c0;
    --editable-card-color: #e0e0e0;
    --card-border-outer: inset -1px -1px #0a0a0a,
        inset 1px 1px #ffffff;
    --card-border-inner: inset -2px -2px #808080,
        inset 2px 2px #dfdfdf;

    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;

    --primary-bg-color: #3a6ea5;
    --primary-select-color: #000080;

    --toolbar-color:#c0c0c0;
    


    --header-color: #000080;
    --note-color: #ededb4;
}

//darkmoon
.theme-darkmoon {
    --primary-card-color: #000719;
    --editable-card-color: #000719;
    --card-border-outer: inset -1px -1px #ffffff,
        inset 1px 1px #ffffff;
    --card-border-inner: inset -2px -2px #ffffff,
        inset 2px 2px #ffffff;

    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;

    --primary-bg-color: #000719;
    --primary-select-color: #ffffff;


    --header-color: #000719;
    --note-color: #000719b7;
}