* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-size: 1rem 1rem;
  background-image: linear-gradient(to right, rgb(212, 212, 212) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(212, 212, 212) 1px, transparent 1px);
}